/*  .navbar{
    background-color: rgb(30, 18, 97);
    font-size:1.2rem;
}    */

.navbar__link{
    list-style: none;
    text-decoration: none;
    color: white;
    transition: all 0.4s ease-in-out;
}